
<div class="content-wrapper">




  <div class="container">


    <section class="content">

      <div ng-if="loading">loading...</div>

      <div class="row" ng-if="!loading">
        <div class="col-md-2" style="padding-left: 0px;margin-right: -10px;">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Thông tin</h3>
            </div>
            <div class="box-body">

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <a href="">Giới thiệu <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span></a>
                </li>
                <li class="list-group-item">
                  <a href="">Thực đơn <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span></a>
                </li>
                <li class="list-group-item">
                  <a href="">Bình luận <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span></a>
                </li>
                <li class="list-group-item">
                  <a href="">Bản đồ <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span></a>
                </li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
        <!-- /.col -->
        <div class="col-md-10">




          <div class="row">
            <div class="col-md-12" style="padding: 0 5px 0 5px;">
              <!-- Box Comment -->
              <div class="box box-widget">

                <!-- /.box-header -->
                <div class="box-body">
                  <div class="col-md-5" style="padding: 0;">
                    <img class="img-responsive pad" style="padding: 0" ng-src="public/images/{{restaurant.image}}" alt="Photo">
                  </div>
                  <div class="col-md-7">
                    <h3><b>{{restaurant.name}}</b></h3>
                    <hr>
                    <p>Đánh giá 
                      <star-rating ng-model="rating1" max="10" readonly="isReadonly1"></star-rating> {{rating1}}/10
                    </p>
                    <p ng-if="username">Đánh giá của bạn 
                      <star-rating ng-model="rating2" max="10" on-rating-select="rateFunction(rating)" readonly="!isReadonly2"></star-rating> {{rating2}}/10
                    </p>
                    <hr>
                    <p id="loc"><i class="fa fa-map-o"></i> {{restaurant.place}}, {{restaurant.ward_name}}, {{restaurant.district_name}}, {{restaurant.province_name}}</p>
                    <p><b>Thời gian mở cửa:</b> {{restaurant.open | date:'HH:mm'}} - {{restaurant.close}}</p>
                    <p><b>Giá:</b> {{restaurant.min | number}} đ - {{restaurant.max | number}} đ</p>
                  </div>

                </div>
                <!-- /.box-body -->

              </div>
              <!-- /.box -->
            </div>
          </div>


          <div class="row" ng-if="foods.length">
            <div class="box box-solid">
              <div class="box-header with-border">

                <h3 class="box-title">Thực đơn</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="row">
                  <div class="col-sm-4 col-md-6" ng-repeat="food in foods">

                    <div class="attachment-block clearfix">
                      <img class="attachment-img" style="height: 100px;" ng-src="public/images/{{food.images[0].image}}" alt="Attachment Image">

                      <div class="attachment-pushed">
                        <h4 class="attachment-heading"><a>{{food.name}}</a></h4>
                        <p>{{food.price | currency : "": 0}} VND</p>
                      </div>
                      <!-- /.attachment-text -->
                    </div>
                    <!-- /.attachment-pushed -->
                  </div>


                </div>
                <!-- /.row -->
              </div>
              <!-- /.box-body -->
            </div>
          </div>

          <div class="row" ng-repeat="comment in comments">
            <div class="box box-widget">
              <div class="box-header with-border">
                <div class="user-block">
                  <img class="img-circle" src="http://placehold.it/128x128" alt="User Image">
                  <span class="username"><a href="">{{comment.user_name}}</a></span>
                  <span class="description">{{comment.title}}</span>
                </div>
                <!-- /.user-block -->
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <!-- post text -->
                <p>{{comment.content}}</p>

                <!-- Attachment -->
                <div class="attachment-block clearfix">
                  <img ng-src="public/images/comment/{{img.image}}" alt="Attachment Image" width="24%" ng-repeat="img in comment.images" style="margin: 3px;">

                </div>
                <!-- /.attachment-block -->

              </div>
              <!-- /.box-body -->
            </div>
          </div>


          <div class="row" ng-if="showcmt">
            <button type="button" class="btn btn-info btn-block btn-flat" ng-click="loadMore()">Xem thêm bình luận</button>
          </div>
          <br>


          <div class="row" ng-if="username">
            <div class="box box-widget">
              <div class="box-header with-border">
                <div class="user-block">
                  <img class="img-circle" src="http://placehold.it/128x128" alt="User Image">
                  <span class="username"><a href="">{{username}}</a></span>
                </div>
                <!-- /.user-block -->
              </div>
              <!-- /.box-header -->
              <form method="post" class="ng-pristine ng-valid" ng-submit="send({comment: comment})">
                <div class="box-body">
                  <!-- .img-push is used to add margin to elements next to floating images -->
                  <div class="img-push">
                    <input type="text" class="form-control input-sm" ng-model="comment.title" placeholder="Tiêu đề bình luận">
                  </div>
                  <br>
                  <!-- .img-push is used to add margin to elements next to floating images -->
                  <div class="img-push">
                    <textarea class="form-control ng-pristine ng-valid ng-empty ng-touched" ng-model="comment.content" rows="2"></textarea>
                  </div>
                  <br>
                  <!-- .img-push is used to add margin to elements next to floating images -->
                  <div class="img-push">
                    <!-- Show images -->     
                      <div  class="image" ng-repeat="item in uploader.queue">
                        <div ng-thumb="{ file: item._file, height: 100, width: 100 }"></div>
                        <button class="remove" ng-click="item.remove()">x</button>
                      </div> 
                      
                      <input type="file" class="one" nv-file-select="" uploader="uploader" multiple />
                  </div>
                </div>
                <!-- /.box-body -->
                <!-- /.box-footer -->
                <div class="box-footer">
                  <input type="submit" class="btn btn-primary pull-right" value="Đăng">
                </div>
                <!-- /.box-footer -->
              </form>
            </div>
          </div>

          <div class="row">
            <div class="box box-solid">
              <div class="box-header with-border">
                <h3 class="box-title">Map</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <iframe id="map" width="100%" height="450" 
                  frameborder="0" style="border:0"
                  src="{{mapsrc}}" allowfullscreen>
                </iframe>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->


      <!-- /.container -->
    </div>