<header class="main-header">
    <!-- Logo -->
    <a ui-sref="home.page" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>F&D</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>FOOD & DRINK</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              <img src="http://placehold.it/160x160" class="user-image" alt="User Image">
              <span class="hidden-xs">{{username}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="http://placehold.it/160x160" class="img-circle" alt="User Image">

                <p>
                  {{username}} - Web Developer
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="">Friends</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a ui-sref="logout" class="btn btn-default btn-flat">Đăng xuất</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <a ui-sref="admin.dashboard">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a ui-sref="admin.location">
            <i class="fa fa-map"></i> <span>Khu vực</span>
          </a>
        </li>
        <li class="treeview">
          <a href="">
            <i class="fa fa-users"></i>
            <span>Người dùng</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a ui-sref="admin.user-list"><i class="fa fa-circle-o"></i> Danh sách</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="">
            <i class="fa fa-users"></i>
            <span>Địa điểm quán</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a ui-sref="admin.restaurant-list"><i class="fa fa-circle-o"></i> Danh sách</a></li>
            <li><a ui-sref="admin.restaurant-application-list"><i class="fa fa-circle-o"></i> Danh sách đăng ký</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="">
            <i class="fa fa-th-list"></i>
            <span>Danh mục</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a ui-sref="admin.category-list"><i class="fa fa-circle-o"></i> Danh sách</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="">
            <i class="fa fa-th-list"></i>
            <span>Góp ý</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a ui-sref="admin.suggesstion-list"><i class="fa fa-circle-o"></i> Danh sách</a></li>
          </ul>
        </li>
        <!-- <li><a href="../../documentation/index.html"><i class="fa fa-book"></i> <span>Documentation</span></a></li> -->
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>